<html>
  <head>
    <title>Game Groups Example</title>
    <div id="fb-root"></div>
    <link href="/group.css" type="text/css" rel="stylesheet" />
    <script src="react-with-addons-0.10.0.min.js"></script>
    <script src="JSXTransformer-0.10.0.js"></script>
    <script>
      fbconfig = { 
        app_id: <%= app_id %>
      }
    </script>
    <script type="text/jsx" src="group.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1485758598314542',
          status     : true
        });
        onFBInit();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body>
    <h3>Make New Group</h3>
    <form name="input" id="groupcreate" method="post" action="groupcreate" onsubmit="return submitForm(this);">
      Name: <input type="text" name="name" value="asdf"></input>
      <input type="text" name="description" value="qwer"></input>
      <input type="submit" value="Submit"></input>
    </form>
    <div id="group_info" class="groupInfo"></div>
    <div id="player_groups"></div>
    <div id="app_groups"></div>
  </body>
</html>
